body::-webkit-scrollbar {
    @apply
        bg-slate-100
        w-7px
        h-7px
        overflow-visible;
}

body::-webkit-scrollbar-track {
    @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
    @apply bg-sky-500;
}